* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  color: #222;
  background-color: #eafaff;
}
.nav-spacing{
  text-align: left;
  margin-right: 70px;
}
.top-space{
  margin-top: 8px;
}
.nav-styling{
  background-color:#fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.btn-color:hover{
    background-color: #5271ff !important;
}
.txt-color, .withdraw{
    color: #5271ff !important;
}
.txt-color:hover{
    color: #5ce1e6 !important;
}

.login-container {
  margin: 0 auto;
  padding-top: 10%;
}

form {
  padding: 5rem 2.5rem;
  margin: 20% auto;
}
.reghead{
  padding-bottom: 3rem;
}
.regbtn{
  margin-top: 3rem;
}
