<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="icon" href="../static/img/decasave_real.png">
    <title>DecaSave</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-light nav-styling fixed-top justify-content-center">
            <div class="container-fluid">
                <a class="navbar-brand" href="/"><img src="../static/img/decasave_real.png" class="logo"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item top-space nav-spacing"><a class="nav-link txt-color" href="/">Home</a></li>
                        <li class="nav-item top-space nav-spacing"><a class="nav-link txt-color" href="#about">About</a></li>
                        <li class="nav-item top-space nav-spacing"><a class="nav-link txt-color" href="#contact">Contact</a></li>
                        <li class="nav-item top-space nav-spacing"><a class="nav-link txt-color" href="/faq">FAQ</a></li>
                        <li class="nav-item top-space nav-spacing"><a class="nav-link txt-color" href="/login">Login</a></li>
                        <li class="nav-item nav-spacing"><a class="nav-link txt-color" href="/register"><button  type="button" class="btn btn-outline-primary btn-color">Register</button></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid intro">
        <div class="row holder">
            <div class="col-sm-1"></div>
            <div class="col-sm-5 hold-words ">
                <h1 class="save-header">The More You Save, Your Money Grows</h1>
                <p class="save-talk">DecaSave helps you achieve financial freedom by enabling you save responsibly and
                    spend wisely.</p>
                <p class="earn-talk">Earn at least 10% interests on your savings.</p>
                <p class="earn-talk">Earn credit points and convert it to cash.</p>
                <a class="btn btn-primary btn-lg btn-color2" href="/register" role="button">Register</a>
                <div>
                    <a href="#"><img src="../static/img/apple.png" class="app-store"></a>
                    <a href="#"><img src="../static/img/google.png" class="app-store2"></a>
                </div>
            </div>
            <div class="col-sm-5 intro-contents">
                <img src="../static/img/coins.jpg" class="img-fluid">
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div><br>
    <div class="container-fluid padding">
        <div class="row core text-center">
            <div class="col-12 experience-style">
                <h1 class="header-style" id="experience">What DecaSave Offers You</h1>
            </div>
            <div class="col-lg-3">
                <div class="card bg-light text-dark space-card">
                    <div class="card-body card-bg">
                        <img src="../static/img/grow.png" class="img-fluid">
                        <h3>Watch your portfolio grow</h3>
                        <p>Easily monitor the progress of your investments from your DecaSave dashboard. Watch how your
                            money grows with our interest rate.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="card bg-light text-dark space-card">
                    <div class="card-body card-bg">
                        <img src="../static/img/safe.png" class="img-fluid">
                        <h3>Your Money is Secured</h3>
                        <p>DecaSave uses the highest levels of Internet Security,
                            and it is secured by 256 bits SSL security encryption to ensure that your information is
                            completely protected from fraud.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="card bg-light text-dark space-card">
                    <div class="card-body card-bg">
                        <img src="../static/img/wallet.png" class="img-fluid">
                        <h3>Convert your credit points to cash</h3>
                        <p>DecaSave gives points to users every month, depending on how often you save in a month. And
                            users can convert these points to cash.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="card bg-light text-dark space-card">
                    <div class="card-body card-bg">
                        <img src="../static/img/withdraw.png" class="img-fluid">
                        <h3>Withdraw your Money</h3>
                        <p>Withdraw your money whenever you need it. But we'd rather you saved it.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid padding adjust-bar">
        <div class="row welcome text-center">
            <div class="col-2"></div>
            <div class="col-8 values">
                <h1 class="header-style about text-center" id="about">What defines us</h1>
                <p class="text-center val-talk">Our values define the DecaSave culture, who we are, and what we do every
                    day. They are the foundation of our identity and the compass
                    of our interaction with all stakeholders: customers, regulators, investors, partners and our
                    communities.</p>
            </div>
            <div class="col-2"></div>
            <div class="col-lg-4">
                <div class="card bg-light text-dark space-card">
                    <div class="card-body card-bg">
                        <img src="../static/img/satisfaction.png" class="img-fluid">
                        <h3>Customer Stisfaction</h3>
                        <p>We are in business to make our customers happy and meet their needs.
                            Meeting the needs of our customers is an act we value dearly.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card bg-light text-dark space-card">
                    <div class="card-body card-bg">
                        <img src="../static/img/file.png" class="img-fluid">
                        <h3>Open & Honest Communication</h3>
                        <p>Do it right. Say and share the right thing.
                            We manage tough situations with courage and candor. We welcome healthy debates and
                            differences of opinion.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card bg-light text-dark space-card">
                    <div class="card-body card-bg">
                        <img src="../static/img/team.png" class="img-fluid">
                        <h3>Collaboration & Teamwork</h3>
                        <p>Our success depends upon the collective intelligence of our team members and the shared
                            vision of our partners.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card bg-light text-dark space-card">
                    <div class="card-body card-bg">
                        <img src="../static/img/project-management.png" class="img-fluid">
                        <h3>Innovation and leadership</h3>
                        <p>We lead by doing the best work. What we do, we do very well. It is our nature to innovate and
                            take responsibility for our actions.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card bg-light text-dark space-card">
                    <div class="card-body card-bg">
                        <img src="../static/img/growth.png" class="img-fluid">
                        <h3>Personal Growth & Development</h3>
                        <p>Our growth as a company is a product of the growth of our individual team members. Grow
                            daily. It compounds. Do your best work, daily.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card bg-light text-dark space-card">
                    <div class="card-body card-bg">
                        <img src="../static/img/satisfaction.png" class="img-fluid">
                        <h3>Simplicity</h3>
                        <p>We create simple but powerful experience because greatness is simple. We see with the eyes of
                            our customers,
                            listen with their ears and feel with their hearts.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid form-design">
        <div class="row welcome text-center">
            <div class="col-12 contact">
                <h1 class="header-style" id="contact">Contact Us</h1>
            </div>
        </div>
        <div class="row padding">
            <div class="col-3">
                <iframe name="iframe" id="reframe">Hello World</iframe>

            </div>
            <div class="col-lg-6">
                <div id="submitted">
                    <p>Your message has been successfully delivered. Decasave will get back to you shortly</p>
                </div>
                <form method="POST"
                    action="https://docs.google.com/forms/d/e/1FAIpQLSe01zrT0CYISUMkDOMnh4_ELCytOSU0L7yVqZeWGvC5DZamqg/formResponse"
                    name="myform" id="contactForm" target="iframe">
                    <div class="form-group">
                        <input type="text" class="form-control" name="entry.253035898" id="name" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="entry.407498850" id="email" placeholder="E-mail">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="entry.1505609162" id="subject"
                            placeholder="Subject">
                    </div>
                    <div class="form-row form-group">
                        <textarea id="message" name="entry.933851257" placeholder="Message"></textarea>
                    </div>
                    <button type="email" name="submit" class="btn btn-primary" id="submit" value="Send message">Send
                        message</button>
                </form>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
    <hr>
    <footer>
        <div class="container-fluid padding">
            <div class="row text-center">

                <div class="col-lg-4 social">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                </div>
                <div class="col-lg-4 copy">
                    <h5>DecaSave Copyright &copy; 2019 | Powered by Pod7</h5>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
    </footer>

</body>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
<script>
    let submit = false;
    let contactform = document.getElementById('contactForm');
    contactform.addEventListener('submit', function () {
        submit = true;
        let iFrame = document.getElementById('reframe');
        iFrame.addEventListener('load', function () {
            if (submit) {
                document.getElementById('submitted').style.display = 'block';
            }
            setTimeout(function () {
                document.getElementById('submitted').style.display = 'none';
                contactform.reset();
            }, 5000);
        })
    })
</script>

</html>
