<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>DecaSave</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-light nav-styling fixed-top justify-content-center">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">DecaSave</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item top-space nav-spacing"><a class="nav-link txt-color" href="#">About</a></li>
                    <li class="nav-item top-space nav-spacing"><a class="nav-link txt-color" href="#contact">Contact</a></li>
                    <li class="nav-item top-space nav-spacing"><a class="nav-link txt-color" href="#faq">FAQ</a></li>
                    <li class="nav-item top-space nav-spacing"><a class="nav-link txt-color" href="#login">Login</a></li>
                    <li class="nav-item nav-spacing"><a class="nav-link txt-color" href="#register"><button  type="button" class="btn btn-outline-primary btn-color">Register</button></a></li>
                </ul>
            </div>
        </div>
        </nav>
    </header>
</body>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 
<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
</html>