{% extends "dashboard-layout.html" %}

{% block title %}
    Transaction History
{% endblock %}
{% block main %}
    <table class="table table-striped table-style">
        <thead>
            <tr>
                <th>S/N</th>
                <th>Deposit</th>
                <th>Withdrawal</th>
                <th>Balance</th>
                <th>Transaction Date</th>
            </tr>
        </thead>

        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ transaction.deposit }}</td>
                    <td>{{ transaction.withdrawal }}</td>
                    <td>{{ transaction.current_balance }}</td>
                    <td>{{ transaction.time }}</td>
                </tr>
            {% endfor %}

        </tbody>
    </table>
{% endblock %}
